<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="display-1">Welcome, {{ user.profile.lastName }}</h1>
      <h4>{{ title }}</h4>
    </div>
  </div>
</div>
<!-- /.container -->


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 search">
        <form role="form">
          <div class="form-group">
            <div class="input-group">
              <input [(ngModel)]="searchTerm"
                     id="search"
                     name="search"
                     (keyup)="searchUsers($event.value)"
                     type="text"
                     class="form-control"
                     autocomplete="off"
                     placeholder="Search for a user">
              <span class="input-group-btn">
                <a *ngIf="showUsers" (click)="clearUsers()" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a *ngIf="!showUsers" (click)="searchUsers(searchUserTerm.value)" class="btn btn-success" type="submit">GO</a>
              </span>
            </div>
          </div>
        </form>

        <div *ngIf="showUsers" id="search-results" class="search-results bg-primary" style="padding:5px;text-shadow:0px 1px 1px rgba(33,33,33,.35);">
          <!-- <i class="fa fa-times pull-right" aria-hidden="true" (click)="clearUsers()"></i> -->
          <ul class="list-unstyled">
            <!-- <li *ngFor="let user of userResults"> -->
            <li *ngFor="let userResult of users">
              {{userResult?.userName}}
              <i *ngIf="!containsObject(userResult)" class="fa fa-plus pull-right" aria-hidden="true" (click)="addUserToInventory(userResult)"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <h1 class="text-center">CM Instructors</h1>
        <p class="text-center">Showing those yet to pass</p>
      </div>
    </div>
    <div class="row">
      <irsc-user-inventory [userInventory]="userInventory"></irsc-user-inventory>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Course</th>
              <th>Instructor</th>
              <th>Current Role</th>
              <th>Edit Mode</th>
            </tr>
          </thead>
          <tbody id="course-data">
            <ng-template let-userSetting ngFor [ngForOf]="userInventory?.inventory">
              <tr *ngFor="let row of userSetting?.courses;let r=index">
                <td>{{ getCourseExternalId(row._id) }}</td>
                <!-- <td>CourseId Here</td> -->
                <td>{{ userSetting.user.userName }}</td>
                <!-- <td>{{ row.editMode }}</td> -->
                <td>Role Here</td>
                <td>
                  <!-- <input class="tgl tgl-ios" id="{{userSetting.user.userName}}-{{row.course.courseId}}" type="checkbox" [checked]="row.editMode" name="c_passed"> -->
                  <input class="tgl tgl-ios" id="row-{{r}}" type="checkbox" [checked]="row.editMode" name="c_passed">
                  <!-- <label class="tgl-btn" for="{{userSetting.userName}}-{{row.course.courseId}}"></label> -->
                  <label class="tgl-btn" for="row-{{r}}"></label>
                </td>
              </tr>
            </ng-template>
            <!-- <ng-template let-course ngFor [ngForOf]="courses">
              <tr *ngFor="let row of course.courses;let r=index">
                <td>{{row.courseId}}-{{row.sectionId}}</td>
                <td>{{course.username}}</td>
                <td>{{ row.editMode }}</td>
                <td>
                  <input class="tgl tgl-ios" id="{{course.username}}-{{row.courseId}}-{{row.sectionId}}" type="checkbox" [checked]="row.editMode" name="c_passed">
                  <label class="tgl-btn" for="{{course.username}}-{{row.courseId}}-{{row.sectionId}}"></label>
                </td>
              </tr>
            </ng-template> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
