/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,700|Open+Sans:200,300,400,700");
*,
*:after,
*:before {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section {
  width: 100%;
  padding: 2em;
}

section .container {
  width: inherit;
  max-width: 90%;
  margin: 0 auto;
}

section [class*='col-'] {
  float: left;
  min-height: 1px;
  padding: .25em;
}

section .col-1 {
  width: 16.66%;
}

section .col-2 {
  width: 33.33%;
}

section .col-3 {
  width: 50%;
}

section .col-4 {
  width: 66.664%;
}

section .col-5 {
  width: 83.33%;
}

section .col-6 {
  width: 100%;
}

section .row:before,
section .row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="grid"] {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

[class*="grid"]:before, [class*="grid"]:after {
  content: "";
  display: table;
  clear: both;
}

[class*="grid"] [class*='col-'] {
  float: left;
  min-height: 1px;
  padding: .25em;
}

[class*="grid"] .col-1 {
  width: 16.66%;
}

[class*="grid"] .col-2 {
  width: 33.33%;
}

[class*="grid"] .col-3 {
  width: 50%;
}

[class*="grid"] .col-4 {
  width: 66.664%;
}

[class*="grid"] .col-5 {
  width: 83.33%;
}

[class*="grid"] .full-width {
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: .125em 0;
  padding: .125em;
}

.text-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 1px 2px 3px rgba(34, 34, 34, 0.5);
}

.ninja-shadow {
  text-shadow: 3px 2px 3px rgba(108, 122, 137, 0.75), 6px 4px 4px rgba(34, 34, 34, 0.25);
}

.card {
  max-width: 400px;
  box-shadow: 1px 2px 3px rgba(108, 122, 137, 0.5);
  text-align: center;
}

.card .card-title,
.card .card-footer,
.card .card-content p {
  text-align: left;
}

.card .card-title,
.card .card-content,
.card .card-footer {
  padding: 1em;
}

.card .card-footer {
  margin-bottom: 0;
}

.card .card-content img {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: .5em;
}

.bg-dark {
  background-color: #222222;
  color: #fafafa;
}

.bg-gray {
  background-color: #6C7A89;
  color: #fafafa;
}

.bg-light-gray {
  background-color: #DADFE1;
  color: #222222;
}

.bg-white {
  background-color: #fafafa;
  color: #222222;
}

.bg-primary {
  background-color: #6bbf93;
  color: #fafafa;
}

.bg-secondary {
  background-color: #688699;
  color: #fafafa;
}

.bg-success {
  background-color: #23B684;
  color: #fafafa;
}

.bg-info {
  background-color: #0F595E;
  color: #fafafa;
}

.bg-warning {
  background-color: #f4d65b;
  color: #fafafa;
}

.bg-danger {
  background-color: #c13030;
  color: #fafafa;
}

.bg-default {
  background-color: #688699;
  color: #fafafa;
}

.text-dark {
  color: #222222;
}

.text-gray {
  color: #6C7A89;
}

.text-light-gray {
  color: #DADFE1;
}

.text-white {
  color: #fafafa;
}

.text-primary {
  color: #6bbf93;
}

.text-secondary {
  color: #688699;
}

.text-success {
  color: #23B684;
}

.text-info {
  color: #0F595E;
}

.text-warning {
  color: #f4d65b;
}

.text-danger {
  color: #c13030;
}

.text-default {
  color: #688699;
}

header, .header {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  min-height: 100vh;
  align-items: center;
}

section {
  background-color: #fafafa;
}

.lead {
  font-weight: 200;
}
