* {
  transition: all 0.5s ease;
}

input[type="text"] {
  background-color: rgba(222,222,222,.15);
  border: none;
  min-height: 3em;
  padding: .5em;
  width: 100%;
  outline: none;
}

input[type="text"]:focus {
  background-color: #fefefe;
  outline: 2px solid rgba(128,128,128,.15);
  box-shadow: 0 2px 3px rgba(22,22,22,.5);
}

input[type="text"]:hover {
  border: 1px dashed rgba(128,128,128,.15);
}
